[Unit]
Description=setuphid
ConditionPathIsDirectory=!/sys/kernel/config/usb_gadget/logi
After=dev-hidg0.device

[Service]
Type=oneshot
ExecStart=/home/igor/hid/config/hid.sh

[Install]
WantedBy=multi-user.target
